IMPORT THE NECESSARY LIBRARIES

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from keras.utils import pad_sequences
from keras.utils import to_categorical
from keras.callbacks import EarlyStopping

DOWNLOAD THE DATASET

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

READ THE DATASET

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/IBM ASSIGNMENT-4/spam.csv',delimiter=',',encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

PREPROCESSING THE DATASET

In [ ]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [ ]:
X = df.v2
Y = df.v1
le = LabelEncoder()
Y = le.fit_transform(Y)
Y = Y.reshape(-1,1)

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.15)

In [ ]:
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train)
sequences_matrix = pad_sequences(sequences,maxlen=max_len)

CREATE MODEL AND ADD LAYERS

In [ ]:
inputs = Input(name='inputs',shape=[max_len])
layer = Embedding(max_words,50,input_length=max_len)(inputs)
layer = LSTM(64)(layer)
layer = Dense(256,name='FC1')(layer)
layer = Activation('relu')(layer)
layer = Dropout(0.5)(layer)
layer = Dense(1,name='out_layer')(layer)
layer = Activation('sigmoid')(layer)
model = Model(inputs=inputs,outputs=layer)

model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 inputs (InputLayer)         [(None, 150)]             0

 embedding (Embedding)       (None, 150, 50)           50000

 lstm (LSTM)                 (None, 64)                29440

 FC1 (Dense)                 (None, 256)               16640

 activation (Activation)     (None, 256)               0

 dropout (Dropout)           (None, 256)               0

 out_layer (Dense)           (None, 1)                 257

 activation_1 (Activation)   (None, 1)                 0

=================================================================
Total params: 96,337
Trainable params: 96,337
Non-trainable params: 0
_________________________________________________________________

COMPILING THE MODEL

In [ ]:
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

TRAINING THE MODEL

In [ ]:
model.fit(sequences_matrix,Y_train,batch_size=128,epochs=10,
          validation_split=0.2)

Epoch 1/10
30/30 [==============================] - 11s 287ms/step - loss: 0.3145 - accuracy: 0.8812 - val_loss: 0.1545 - val_accuracy: 0.9736
Epoch 2/10
30/30 [==============================] - 8s 265ms/step - loss: 0.0810 - accuracy: 0.9797 - val_loss: 0.0686 - val_accuracy: 0.9821
Epoch 3/10
30/30 [==============================] - 8s 265ms/step - loss: 0.0411 - accuracy: 0.9863 - val_loss: 0.0660 - val_accuracy: 0.9789
Epoch 4/10
30/30 [==============================] - 10s 340ms/step - loss: 0.0345 - accuracy: 0.9894 - val_loss: 0.0714 - val_accuracy: 0.9768
Epoch 5/10
30/30 [==============================] - 8s 267ms/step - loss: 0.0252 - accuracy: 0.9926 - val_loss: 0.0512 - val_accuracy: 0.9884
Epoch 6/10
30/30 [==============================] - 8s 267ms/step - loss: 0.0219 - accuracy: 0.9931 - val_loss: 0.0551 - val_accuracy: 0.9895
Epoch 7/10
30/30 [==============================] - 8s 267ms/step - loss: 0.0151 - accuracy: 0.9955 - val_loss: 0.0633 - val_accuracy: 0.9884
Epoch 8/10
30/30 [==============================] - 8s 262ms/step - loss: 0.0132 - accuracy: 0.9963 - val_loss: 0.0676 - val_accuracy: 0.9895
Epoch 9/10
30/30 [==============================] - 8s 263ms/step - loss: 0.0099 - accuracy: 0.9968 - val_loss: 0.0674 - val_accuracy: 0.9905
Epoch 10/10
30/30 [==============================] - 8s 264ms/step - loss: 0.0095 - accuracy: 0.9976 - val_loss: 0.0629 - val_accuracy: 0.9895

SAVING THE MODEL

In [ ]:
model.save('sms_classifier.h5')

PREPROCESSING THE TEST DATASET

In [ ]:
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix = pad_sequences(test_sequences,maxlen=max_len)

TESTING THE MODEL

In [ ]:
accr = model.evaluate(test_sequences_matrix,Y_test)

27/27 [==============================] - 1s 25ms/step - loss: 0.0496 - accuracy: 0.9904

In [ ]:
print('Test set\n  Loss: {:0.3f}\n  Accuracy: {:0.3f}'.format(accr[0],accr[1]))

Test set
  Loss: 0.050
  Accuracy: 0.990